@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@200;300&family=Quicksand:wght@300;500&family=Raleway:wght@200&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
:root{
    --dark-backgroung :#363A57;
    --light-foreground: #2067772f;
    --NA :#545375;
    --selected: #C4EA70;
    --occupied: #747179;
    --text: #f4FFDC;
    --text-info: #E1F780;
    --midsommer: #4aa4af;
    --visit: #4c4544;
    --joker: #2d1f1e;
    --lobster: #8b8877;
}
body{
    background-color: var(--dark-backgroung);
    font-family: 'Lato', sans-serif;
    color: var(--text);
    display: flex;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-container{
    margin: 2rem;
    select{
        background-color: var(--light-foreground);
        border:0;
        border-radius: 5px;
        font-size: 1rem;
        margin-left: 0.5rem;
        padding:5px 15px 5px 15px;
        appearance: none;
    }
}
.seat-info{
    background-color: var(--light-foreground);
    border:0;
    border-radius: 15px;
    padding: 2px 5px;
    ul{
        display: flex;
        flex-direction: row;
        li{
            margin: 1rem;
            list-style: none;
            display: flex;
            flex-direction:row;
            flex-direction: center;
            align-items: center;
            small{
                margin-left: 0.2rem;
            }
        }
    }
}
.seat{
    background-color: var(--NA);
    width:15px;
    height: 12px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    margin:3px;
}
.seat.selected{
    background-color:var(--selected);
}
.seat.occupied{
    background-color:var(--occupied);

}
.seat:nth-of-type(2){
    margin-right: 1rem;
}
.seat:nth-last-of-type(2){
    margin-left: 1rem;
}
.container{
    padding: 2rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    perspective: 1000px;

}
.row{
    display: flex;
    flex-direction: row;
}
.screen{
    background-image: url(../img/Midsommer.jpg);
    box-shadow: 0 3px 20px var(--midsommer);
    background-color: rgb(202, 202, 202);
    height:150px;
    width:200px;
    margin-bottom: 2rem;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 20px rgba(255, 255, 255, 0.587);
    background-size: cover;
}
.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}
.seat-info .seat:not(.occupied):hover{
    cursor: default;
    transform: scale(1);
}
.price-info{
    margin-top: 1rem;
    span{
        color: var(--text-info);
        font-weight: bold;
    }
}
.lobster{
    background-image: url(../img/lobster.jpg);
    box-shadow: 0 3px 20px var(--lobster);
    
}
.midsommer{
    background-image: url(../img/Midsommer.jpg);
    
    box-shadow: 0 3px 20px var(--midsommer);
}
.visit{
    background-image: url(../img/Visit.jpg);
    box-shadow: 0 3px 20px var(--visit);
    
}
.joker{
    background-image: url(../img/joker.jpg);
    box-shadow: 0 3px 20px var(--joker);
    
}